@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customscrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, and newer versions of Edge) */
.customscrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Rounded corners for contribution chart boxes */
.contribution-heatmap .heatmap rect {
  rx: 1px;
  ry: 1px;
}
